<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="AdminVo" type="com.digitalchina.webapp.admin.vo.AdminVo" />
		<typeAlias alias="IsDynamicVo"
			type="com.digitalchina.webapp.prog.vo.IsDynamicVo" />
		<typeAlias alias="Member" type="com.digitalchina.webapp.prog.vo.Member" />
		<typeAlias alias="AttentionMember"
			type="com.digitalchina.webapp.prog.vo.AttentionMember" />
		<typeAlias alias="AttentionVo"
			type="com.digitalchina.webapp.prog.vo.AttentionVo" />
		<typeAlias alias="CommentVo" type="com.digitalchina.webapp.prog.vo.CommentVo" />
		<typeAlias alias="WorkVo" type="com.digitalchina.webapp.prog.vo.WorkVo" />
		<typeAlias alias="RecommendVo"
			type="com.digitalchina.webapp.prog.vo.RecommendVo" />
		<typeAlias alias="PraiseVo" type="com.digitalchina.webapp.prog.vo.PraiseVo" />
		<typeAlias alias="DynamicVo" type="com.digitalchina.webapp.prog.vo.DynamicVo" />
		<typeAlias alias="VerifyCodeVo"
			type="com.digitalchina.webapp.prog.vo.VerifyCodeVo" />
		<typeAlias alias="WorkVoteVo"
			type="com.digitalchina.webapp.prog.vo.WorkVoteVo" />
		<typeAlias alias="NotifyVo" type="com.digitalchina.webapp.prog.vo.NotifyVo" />
		<typeAlias alias="TagsVo" type="com.digitalchina.webapp.prog.vo.TagsVo" />
		<typeAlias alias="ResultTags"
			type="com.digitalchina.webapp.prog.vo.ResultTags" />
		<typeAlias alias="ResultAdverisement"
			type="com.digitalchina.webapp.prog.vo.ResultAdverisement" />
	
		<typeAlias alias="SellVo" type="com.digitalchina.webapp.prog.vo.SellVo" />
	
		<typeAlias alias="RequirementVo"
			type="com.digitalchina.webapp.prog.vo.RequirementVo" />
			<typeAlias alias="ResultNotify"
			type="com.digitalchina.webapp.prog.vo.ResultNotify" />
		<typeAlias alias="hashmap" type="java.util.HashMap" />
		<typeAlias alias="String" type="java.lang.String" />
		<typeAlias alias="Integer" type="java.lang.Integer" />
		<typeAlias alias="List" type="java.util.List" />
	</typeAliases>
	<mappers>
		<mapper resource="META-INF/sqlMappers/MemberDao.xml" />
		<mapper resource="META-INF/sqlMappers/RecommendDao.xml" />
		<mapper resource="META-INF/sqlMappers/DynamicDao.xml" />
		<mapper resource="META-INF/sqlMappers/AdminDao.xml" />
		<mapper resource="META-INF/sqlMappers/AdvertisementDao.xml" />
		<mapper resource="META-INF/sqlMappers/RequirementDao.xml" />
	</mappers>
</configuration>