<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://#{configProperties['jdbc.url.needesign']}?characterEncoding=utf-8"></property>
		<property name="username"
			value="#{configProperties['jdbc.username.needesign']}"></property>
		<property name="password"
			value="#{configProperties['jdbc.password.needesign']}" />
		<property name="initialSize" value="#{configProperties['jdbc.initialSize']}"></property>
		<property name="maxIdle" value="#{configProperties['jdbc.maxIdle']}" />
		<property name="minIdle" value="#{configProperties['jdbc.minIdle']}" />
		<property name="maxActive" value="#{configProperties['jdbc.maxActive']}" />
		<property name="logAbandoned" value="true"></property>
		<property name="maxWait" value="#{configProperties['jdbc.maxWait']}" />
		<property name="defaultAutoCommit" value="true" />
		<property name="removeAbandoned" value="true" />
		<property name="removeAbandonedTimeout"
			value="#{configProperties['jdbc.removeAbandonedTimeout']}" />
			<property name="testOnBorrow" value="true">
			</property>
			<property name="validationQuery">
			<value>SELECT 1 FROM DUAL</value> 
			</property>
	</bean>



	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 扫描数据访问层，组装数据访问接口实现类 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.digitalchina.webapp" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
</beans>